{% extends "auth.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="logo">
    <img src="{{ url_for('static', filename='images/inkpx-curved-text.png') }}" alt="logo">
</div>
<div class="login login2" id="login">
    <h1 id="login_h1">Welcome Back!</h1>
    <div class="inputland">
        <input type="email" name="email" id="email" placeholder="Email*">
        <input type="password" name="password" id="" placeholder="Create Password*">
    </div>
    <button onclick="validate()">LOGIN</button>
    <div class="noacct_signup">
        <a href="{{ url_for('auth.register') }}">Don't have an account? Sign up</a>
    </div>
</div>
<div class="right_empty"></div>
{% endblock %}
