{% extends "auth.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="logo">
    <img src="{{ url_for('static', filename='images/inkpx-curved-text.png') }}" alt="logo">
</div>
<div class="login login2" id="login">
    <h1 id="login_h1">Welcome Back!</h1>
    <form action="{{ url_for('auth.login') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="inputland">
            {{ form.email.label }}  <!-- Email Label -->
            {{ form.email(class="form-control") }}
            {{ form.password.label }}  <!-- Password Label -->
            {{ form.password(class="form-control") }}
        </div>
        <button type="submit" class="btn">LOGIN</button>
    </form>
    <div class="noacct_signup">
        <a href="{{ url_for('auth.register') }}">Don't have an account? Sign up</a>
    </div>
</div>
<div class="right_empty"></div>
{% endblock %}
