{% extends "auth.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="login">
    <h1 id="signin_h1">Create an Account</h1>
    
    <!-- Start of the form -->
    <form action="{{ url_for('auth.register') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="inputland inputland2">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control") }}
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control") }}
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <!-- The submit button -->
        <button type="submit" class="btn btn-primary">SIGN UP</button>
    </form>
    <!-- End of the form -->
    
    <div class="noacct_signup">
        <a href="{{ url_for('auth.login') }}">Already have an account? Log In</a>
    </div>
</div>
{% endblock %}
