<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Forum&family=Spline+Sans+Mono&display=swap" rel="stylesheet">
    <script src="script.js"></script>

    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="inkpx-curved-text.png" alt="logo">
        </div>
        <div class="login">
            <h1 id="signin_h1">Create an Account</h1>
            <div class="inputland inputland2">
                <input type="text" name="full name" id="" placeholder="Full Name*">
                <input type="email" name="email" id="email" placeholder="Email*">
                <input type="number" name="phone number" id="phone_no" placeholder="Phone Number*">
                <input type="password" name="password" id="password" placeholder="Password*">
            </div>
            <div class="remme_forpass remme_forpass2">
                <div class="remme"><input type="checkbox" name="remember me" id=""> Remember Me</div>
                <div class="forpass"><a href="">Forgot Password?</a></div>
            </div>
            <button onclick="validate()">SIGN UP</button>
            <div class="noacct_signup">
                <a href="login.html">Already have an account? Log In</a>
            </div>
        </div>
        <div class="right_empty"></div>
    </div>
</body>
</html>